 html {
      box-sizing: border-box;
    }
    *, *:before, *:after {
      box-sizing: inherit;
    }
    body {
      
	  background-image:url('https://st.depositphotos.com/3470617/4920/v/950/depositphotos_49203389-stock-illustration-pizza-background.jpg');
      font-family: "Titillium Web", Arial, sans-serif;
      font-size: 20px;
      margin: 0;
    }
    #browserNote {
      color: white;
    }
    .container {
      position: fixed;
      top: 30%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
    }
	.header {
  margin: 0 auto;
}

.bot-img {
  width: 200px;
  height: auto;
  color: #000000;
}

.header {
  color: #16387c;
  background-color:#ffffff;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  
}
    input {
      background-color: #000000;
      border: 1px solid #ffffff;
      color: #ffffff;
      font-family: "Titillium Web";
      font-size: 20px;
      line-height: 43px;
      padding: 0 0.75em;
      width: 400px;
      -webkit-transition: all 0.35s ease-in;
    }
    textarea {
      background-color: #070F24;
      border: 1px solid #122435;
      color: #606B88;
      padding: 0.5em;
      width: 100%;
      -webkit-transition: all 0.35s ease-in;
    }
    input:active, input:focus, textarea:active, textarea:focus {
      outline: 1px solid #48788B;
    }
    .btn {
      background-color: #ffffff;
      
      color: #727781;
      cursor: pointer;
	  vertical-align:middle;
      display: inline-block;
      font-family: "Titillium Web";
      font-size: 20px;
      line-height: 43px;
      padding: 0 0.75em;
      text-align: center;
      text-transform: uppercase;
      -webkit-transition: all 0.35s ease-in;
    }
    .btn:hover {
      background-color: #d2d6dd;
      color: #000000;
    }
    .debug {
      bottom: 0;
      position: fixed;
      right: 0;
    }
    .debug__content {
      font-size: 14px;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.35s ease-in;
    }
    .debug__content.is-active {
      display: block;
      max-height: 500px;
    }
    .debug__btn {
      width: 100%;
    }
    .spoken-response {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: all 0.35s ease-in;
    }
    .spoken-response.is-active {
      max-height: 400px;
    }
    .spoken-response__text {
      background-color: #ffffff;
      color: #000000;
      padding: 1em;
	  border: 10px solid #549EAF;
    }